<launch>
  <group ns="tb3_0">
    <node pkg="multi_robot_challenge_22" name="RobotClass" type="robot.py" output="screen" />
    <node pkg="multi_robot_challenge_22" name="wall_follower" type="wall_follower.py" output="screen" />
    <node pkg="multi_robot_challenge_22" type="go_to_point.py"  name="go_to_point" output="screen"/>
    <node pkg="multi_robot_challenge_22" type="bug2.py" name="bug2" output="screen" />
    <node pkg="multi_robot_challenge_22" name="ar_tag_reciever" type="ar_tag_reciever.py" output="screen" />
  </group>

  <group ns="tb3_1">
    <node pkg="multi_robot_challenge_22" name="RobotClass" type="robot.py" output="screen" />
    <node pkg="multi_robot_challenge_22" name="wall_follower" type="wall_follower_right.py" output="screen" />
    <node pkg="multi_robot_challenge_22" type="go_to_point.py"  name="go_to_point" output="screen"/>
    <node pkg="multi_robot_challenge_22" type="bug2.py" name="bug2" output="screen" />
    <node pkg="multi_robot_challenge_22" name="ar_tag_reciever" type="ar_tag_reciever.py" output="screen" />
  </group>

  <node pkg="multi_robot_challenge_22" name="LeaderClass" type="leader.py" output="screen" />

 <group ns="tb3_2">
  <node pkg="multi_robot_challenge_22" type="wall_follower.py" name="follow_wall" output="screen" />
  <node pkg="multi_robot_challenge_22" type="go_to_point.py"  name="go_to_point" output="screen"/>
  <node pkg="multi_robot_challenge_22" type="bug2_support.py" name="bug2" output="screen" />
  <node pkg="multi_robot_challenge_22" type="robot_support.py" name="robot_class" output="screen" />
  <node pkg="multi_robot_challenge_22" name="ar_tag_reciever" type="ar_tag_reciever.py" output="screen" />
</group>

</launch>
